@{
    ViewData["Title"] = "Login";
}

<div class="container pt-5">
  
    <div class="row justify-content-md-center">
        <div class="col-6 border border-dark">
            <h3 class="text-center">ORDER TAKER</h3>
            <hr/>
            <form method="post" class="p-3">
                <label for="phone">Mobile number</label>
                <input type="text" for="phone" class="form-control" />

                
                <hr />
                <button type="submit" class="btn btn-success form-control">Login</button>
                <div class="row">
                    <div class="col-md-auto pt-3">
                        <p>Don't have an account?</p>
                        <a href="~/Login/signup">Signup</a>
                    </div>                
                </div>
            </form>

        </div>
    </div>
</div>
<footer></footer>