@{
    ViewData["Title"] = "Home Page";
}

 

    <h2 style='text-align:center;color:#6C757D'>
        Tap on <a class="navbar-icon"  asp-controller="Home" asp-action="table">+</a>to continue
    </h2>
   