@{
    ViewData["Title"] = "Special Menu";
}

<header class='container-fluid'>
 <div class="btn-group">
  <button type="button" class="btn btn-outline-secondary" id='menuSelect'>MENU ITEMS</button>
  <button type="button" class="btn btn-outline-secondary ">TODAY'S SPECIAL</button>
  <button type="button" class="btn btn-outline-secondary " id='orderSelect'>ORDER</button>
</div>
<div class="input-group mt-2 mb-3">
      <input type="search" class="form-control" placeholder="Search menu items" >
</div>
</header>
<section class='container-fluid mt-5' id='special'>
<article class='d-flex' id='menu-item'>
<img src='~/img/image3.jpg' alt='image3'/>
<div>
    <h5>Strawberry Icecream</h5>
    <h6>Rs.150</h6>
</div>


</article>
</section>